/* *******common css start******* */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary_btn{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    padding: 13px 32px;
}
/* *******common css end******* */

/* *******banner section css start******* */
.banner_section{
    display: flex;
    justify-content: space-between;
    padding: 30px 150px 0px 150px;
    background: #e5547334;
}
.banner_text h1{
    font-size: 40px;
}
.banner_text p{
    margin-top: 5px;
    font-size: 18px;
    color: #8b8686;
}
.banner_pic  img{
    width: 300px;
}
/* *******banner section css end******* */


/* *******Featured_section section css start******* */
.Featured_section{
    margin-top: 30PX;
    padding: 30px 150px 30px 150px;
}
.Featured_section_text{
    text-align: center;
} 
.Featured_section_text h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.Featured_section_text p{
    margin-top: 5px;
    font-size: 18px;
    color: #8b8686;
}
.Featured_section_pic{
    margin-top: 30px;
    text-align: center;
    justify-content: space-between;
}
.Featured_section_pic img{
    padding: 40px 30px 10px 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 220px;
}
.Featured_section_pic .img1{
    width: 220px;
    height: 280px;
    background-color: #e5547338;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; 
}
.Featured_section_pic .img2{
    width: 220px;
    height: 280px;
    background-color: #0598a033;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.Featured_section_pic .img3{
    width: 220px;
    height: 280px;
    background-color: #477d1135;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.Featured_section .img_tittle a{
    color: #464444;
    margin-left: 170px;
}
/* *******Featured_section section css end******* */

/* *******hot-deal_section section css start******* */
.hot-deal_section{
    margin-top: 20PX;
    display: flex;
    justify-content: space-between;
    padding: 30px 200px 30px 150px;
    background: #e5547334;
}
.hot-deal_text{
    text-align: center;
    margin-top: 100px;
}
.hot-deal_text h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.hot-deal_text span{
    color: #E55473;
}
.hot-deal_pic img{
    width: 220px;
    height: 320px;
}
.hot-deal_text p{
    margin-top: 5px;
    font-size: 18px;
    color: #8b8686;
}
/* *******hot-deal_section section css end******* */

/* *******instagram_section section css start******* */

.instagram_section{
    margin-top: 30PX;
    padding: 30px 150px 30px 150px;
}
.instagram_section_text{
    text-align: center;
} 
.instagram_section_text h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.instagram_section_text p{
    margin-top: 5px;
    font-size: 18px;
    color: #8b8686;
}
.instagram_section_pic{
    text-align: center;
    justify-content: space-between;
}
.instagram_section_pic img{
    margin-top: 30px;
    margin-right: 10px;
    width: 230px;
    border-radius: 5px;
}

/* *******instagram_section section css end******* */

/* *******get_deal_section section css start******* */
.get_deal_section{
    border-radius: 5px;
    margin: 40px 100px 60px 100px;
    padding: 60px 60px 60px 60px;
    background-image: url('../image/Rectangle\ 9.png');
    background-repeat: no-repeat;
}
.get_deal_section_text {
    text-align: center;
}
.get_deal_section_text h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.get_deal_section_text p{
    margin-top: 5px;
    font-size: 18px;
    color: #8b8686;
}
.get_deal_section_form{
    text-align: center;
}
.get_deal_section_form button{
    margin-left: 10px;
}
input{
    border: none;
    border-radius: 5px;
    background: #ffffff;
    font-size: 13px;
    color: #ffffff;
    padding: 13px 32px;
    width: 350px;
}
/* *******get_deal_section section css end******* */

/* *******footer_section section css start******* */
.footer_section{
    background: #111010;
    border-radius: 5px;
    text-align: center;
    margin: 40px 100px 0px 100px;
    padding: 60px 60px 60px 60px;
}
.footer_section h1{
    color: #ffffff;
}
.footer_section span{
    color: #E55473;
}

.footer_section h5{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color:#ffffffc1;
}
.footer_section p{
    margin-top: 15px;
    font-size: 10px;
    color: #8b8686; 
}
/* *******footer_section section css end******* */


